<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>p5.js Instance Mode</title>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/p5.js/1.7.0/p5.min.js"></script>
</head>
<body>
<h1>Multiple p5.js Canvases</h1>
<div id="sketch1"></div>
<div id="sketch2"></div>

<script type="module" src="tetris.js"></script>
<script type="module">
    // import p5 from 'p5'
    import { tetrisSketch } from './tetris.js'
    new p5(tetrisSketch, document.querySelector('#sketch1'))
</script>
</body>
</html>